// Windows || Linux
@media platform !="OSX"

    {
    html {
        var(accent-color): window-accent-color;
        var(text-color): #000;
        border: 1dip solid #3F4345; //TRAN
    }

    html:theme(dark) {
        var(text-color): #fff;
    }

    html:owns-focus {
        border: 1dip solid #323536; //TRAN
    }

    html>window-header {
        display: block;
        width: *;
        flow: horizontal;
        height: window-caption-height;
        margin: 0;
        font: system;
    }

    html>window-header>window-caption {
        display: block;
        line-height: window-caption-height;
        width: *;
        padding: 0 1em;
        color: color(text-color);
    }

    html>window-header>window-buttons {
        display: block;
        flow: horizontal;
        width: max-content;
        height: *;
    }

    html>window-header>window-buttons>window-button {
        behavior: clickable;
        display: block;
        height: *;
        width: window-button-width;
        foreground-size: 11dip;
        foreground-repeat: no-repeat;
        foreground-position: 50% 50%;
        stroke: color(text-color);
        stroke-width: 1dip;
        transition: background-color linear 100ms;
    }

    html>window-header>window-buttons>window-button:hover {
        background: rgba(0, 0, 0, 0.25);
    }

    html>window-header>window-buttons>window-button[role="window-close"] {
        stroke-width: 1.44dip;
        foreground-image: url(path:M0 0 L10 10 M10 0 L0 10);
    }

    html>window-header>window-buttons>window-button[role="window-close"]:hover {
        background: rgb(232, 17, 35);
        stroke: #fff;
    }

    html>window-header>window-buttons>window-button[role="window-maximize"] {
        foreground-image: url(path:M0 0 H10 V10 H0 Z);
    }

    html[window-state="maximized"] {
        border: window-frame-width solid transparent; //TRAN
    }

    html[window-state="maximized"]>window-header>window-buttons>window-button[role="window-maximize"] {
        foreground-image: url(path:M0 2 h8 v8 h-8 Z M2 2 v-2 h8 v8 h-2);
    }

    html[window-state="full-screen"] {
        border: window-frame-width solid transparent; //TRAN
    }

    html>window-header>window-buttons>window-button[role="window-minimize"] {
        foreground-image: url(path:M0 0 M0 5 H10 M10 10);
    }

    html>window-header>window-icon {
        display: block;
        height: *;
        width: 24px;
        foreground: no-repeat 50% 50%;
        foreground-size: 16px 16px;
        // awesome:cubes
        foreground-image: url(window_icon.svg);
    }

    html[window-blurbehind]:owns-focus {
        background: transparent;
    }
}

@media platform=="OSX" {
    html {
        var(accent-color): window-accent-color;
    }

    html>window-header {
        width: *;
    }

    html>window-header {
        width: *;
        height: window-caption-height;
        margin: 0;
    }

    html>window-header>window-caption {
        display: inline-block;
        line-height: window-caption-height;
        width: *;
        margin-left: 3em;
        text-align: center;
        padding: 0.20em 0 0.20em 0;
    }

    html>window-header>window-buttons {
        display: none;
        /*macosx will draw its own chrome buttons */
    }
}

html[window-blurbehind] {
    background: #1f1f1f;
}